<nav>
	<ul id="menu">
 		{% for link in site.navigation %}
			{% assign selected = nil %}
			{% if page.url == link.url %}
				{% assign selected = ' selected' %}
			{% endif %}
			{% if page.url == '/index.html' or page.url == link.url %}
				<li class="menu{{selected}}" {% if selected == nil %} onclick="window.location='.{{link.url}}'" {% endif %}>
<!-- 				<img src="resources/{{link.url| remove:'/'|remove:'.html'}}.png">
 -->				<a href="{{site.url}}{{link.url}}">{{link.text}}</a>
				</li>
			{% endif %}
		{% endfor %}
 	</ul>
</nav>