<!DOCTYPE html>
<html lang="fr">
  <head>
  {% include head.html %}
  </head>

  <body>
    <div class="container">
      <header class="default">
        {% include header.html %}
      </header>

      <div>
      {{ content }}
      </div>

      <br>
      <br>
      <h2>{{ page.contact.nom }} {{ page.contact.titre }}</h2>
      <div itemprop="name">{{ page.org.nom }}</div>
      <span itemprop="streetAddress">{{ page.org.addr.rue }}</span>
      <br>
      <span itemprop="addressLocality">{{ page.org.addr.ville }}</span>,
      <span itemprop="addressRegion">{{ page.org.addr.prov}}</span>
      <br>
      <span itemprop="postalCode">{{ page.org.addr.code}}</span>
      <br>
      <span itemprop="addressCountry">{{ page.org.addr.pays }}</span>
      <br>
      <br>
      Courriel: <a itemprop="email" href="mailto:{{ page.contact.email }}">{{ page.contact.email }}</a>
      <br>
      Tél: <span itemprop="telephone"><a itemprop="" href="tel:+1{{page.contact.tel}}">{{ page.contact.tel }}</a></span>
      <br>
      Fax: <span itemprop="faxNumber"><a itemprop="" href="tel:+1{{page.contact.fax}}">{{ page.contact.fax }}</a></span>
      <br>
      Cel: <span itemprop="telephone"><a itemprop="" href="tel:+1{{page.contact.cel}}">{{ page.contact.cel }}</a></span>
      <br>
      <br>
      <a href="http://www.linkedin.com/pub/louis-duchesne-ing-mgp-pmp/3/7b9/25b"><img src="images/webicon-linkedin.svg" width="40"></a>

      {% include footer.html %}

    </div><!-- /.container -->
    </div>
    {% include scripts.html %}
  </body>
</html>
