<!DOCTYPE html>
<html lang="fr">
  <head>
  {% include head.html %}
  </head>

  <body>
    <div class="container">
      <header class="default">
        {% include header.html %}
      </header>

      <div>
      {{ content }}
      </div>

      <section itemscope itemtype="http://schema.org/Person">
      <h2 itemprop="name">{{ page.contact.nom }} {{ page.contact.titre }}</h2>
      <section itemscope itemtype="http://schema.org/organisation">
      <div itemprop="name">{{ page.organisation.nom }}</div>
      <span itemprop="addressLocality">{{ page.organisation.localite }}</span>,
      <span itemprop="addressCountry">{{ page.organisation.pays }}</span>
      <br>
      Courriel: <a itemprop="email" href="mailto:{{ page.contact.email }}">{{ page.contact.email }}</a><br>
      Tél: <span itemprop="telephone"><a itemprop="" href="tel:+1{{page.contact.tel}}">{{ page.contact.tel }}</a></span>
      </section>
      <br>
      <br>
      <a href="http://www.linkedin.com/pub/louis-duchesne-ing-mgp-pmp/3/7b9/25b"><img src="images/webicon-linkedin.svg" width="40"></a>

      </div>
      {% include footer.html %}

    </div><!-- /.container -->
    </div>
    {% include scripts.html %}
  </body>
</html>
