<!DOCTYPE html>
<html lang="fr">
  <head>
  {% include head.html %}
  </head>

  <body>
    <div class="bg-container">
    <div class="container">
      <header>
        {% include header.html %}
        <div class="lead">{{ site.intro }}</div>
      </header>

      <div style="text-align:center">
      {{ content }}
      </div>

      <div class="domaines">

      {% for dom in site.domaines %}
        {% cycle 'add rows': '<div class="row">', nil, nil %}
          <div class="col-sm-4">
            <a href="{{ dom.link }}.html" role="button">
              <img class="img-circle" src="images/{{ dom.image }}" alt="{{ dom.link }}">
              <h2>{{ dom.title }}</h2>
            </a>
            <p>{{ dom.description }}</p>
          </div><!-- /.col-lg-4 -->
        {% cycle 'close rows': nil, nil, '</div><!-- row -->' %}
      {% endfor %}
        {% cycle 'close rows': nil, '</div><!-- row -->', '</div><!-- row -->' %}

      </div>
      {% include footer.html %}

    </div><!-- /.container -->
    </div>
    {% include scripts.html %}
  </body>
</html>
