<!DOCTYPE html>
<html lang="en">
  <head>
  {% include head.html %}
  </head>

  <body>
    <div class="container projets">
      <header class="default">
        {% include header.html %}
      </header>

      <div>
      {% for proj in site.data.projets %}
        <div class="row">
          <div class="col-sm-3">
            <img class="img projet" src="images/{{ proj.image }}" alt="{{ proj.link }}">
          </div>
          <div class="col-sm-3">
            <h2>{{ proj.activite }}</h2>
            <p>{{ proj.projet }}</p>
            <p>{{ proj.client }}</p>
            <p>{{ proj.date }}</p>
          </div>
          <div class="col-sm-6">
          {{ proj.description | markdownify }}
<!--           <ul>
          {% for point in proj.description %}
            <li>{{ point }}</li>
          {% endfor %}
          </ul>
 -->          </div>
        </div>
      {% endfor %}
      </div>

      {% include footer.html %}

    </div><!-- /.container -->
    {% include scripts.html %}
  </body>
</html>
